.skin-blue .main-header .logo {
  /* background-color: #367fa9;*/
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #008FD6) );
  color: #fff;
  border-bottom: 0 solid transparent;
}

.skin-blue .main-header .navbar {
    background-color: #3c8dbc;
    text-align: center;
}

#logoarusheader{
width: 100px;
margin-top: 4px;
}

.main-header .navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  white-space: nowrap;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #008FD6) );
  /* background: -webkit-linear-gradient(top, #1652cc 0%,#0492e4 100%); */
  background: -o-linear-gradient(top, #333333 0%,#0B0B0B 100%);
  background: -ms-linear-gradient(top, #333333 0%,#0B0B0B 100%);
  border-radius: 0;
}

#logoas {
    width: 20px;
}
